.global-response-widget {
    background-color: white;
    min-height: 200px;
}

.global-input {
    background-color: #e8e8e8fa;
    height: 40px;
    width: 400px;
    border-radius: 20px;
    padding-left:20px;
    color: rgb(0, 186, 254);
}
.global-ai-widget {
  position: absolute;
  left: 35vw;
  top: 50vh;
}
